.page-chuck-article header h2, .category_title {
	padding:10px 0 0 0;
	text-align:center;
	font-family:coalition;
	color:#333;
	letter-spacing:2px;
	  text-shadow: 2px 3px 4px #888; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	}